{{>partials/header }}

 <h3>Qual ano você nasceu?</h3>
 <form method="POST" action="/idade-resultado">
   <input type="number" name="ano" placeholder="Digite o ano de nascimento" />
   <input type="submit" value="Enviar" />
 </form>

 {{#mostrarIdade}}
   voce tem  {{ idade }} anos
 {{/mostrarIdade}}

{{>partials/footer}}